body.active {
  overflow-y: hidden;
  height: 100vh;
}
.about.active {
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.807);
}

.about {
  height: 375px;
  background-image: url(assets/images/about-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .about-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
    h1 {
      text-align: center;
      margin-bottom: 24px;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      letter-spacing: -1.78571px;
    }
  }
}
.about-section-1-wrapper {
  margin-inline: 32px;
  margin-block: 120px;
  display: flex;
  flex-direction: column;
  gap: 120px;
}
.about-section-1-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .about-section-1-content-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }

  h2 {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.42857px;
  }
  p {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
  .button-container {
    display: flex;
    justify-content: center;
  }
}
.about-section-1-content:nth-of-type(1) {
  .img-big {
    margin-bottom: 56px;
    display: flex;
    justify-content: center;
    position: relative;

    img {
      border-radius: 50%;
      max-width: 311px;
    }
  }
  .img-big::before {
    content: "";
    background-image: url(/assets/patterns/left-downward-arrow.svg);
    width: 735px;
    height: 140px;
    right: 0;
    bottom: 0;
    transform: translate(28rem);
    position: absolute;
  }
}
.about-section-1-content:nth-of-type(2) {
  .img-big {
    margin-bottom: 56px;
    display: flex;
    justify-content: center;
    position: relative;

    img {
      border-radius: 50%;
      max-width: 311px;
    }
  }
  .img-big::before {
    content: "";
    background-image: url(/assets/patterns/right-arrow.svg);
    background-repeat: no-repeat;
    width: 735px;
    height: 140px;
    top: 0;
    left: 0;
    transform: translate(-15rem);
    position: absolute;
  }
}

// VALUES SECTION
.values-section {
  header {
    h2 {
      text-align: center;
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -1.42857px;
    }
  }
}
.values-section-wrapper {
  margin-inline: 32px;
  margin-block: 120px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.values-section-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .values-section-content-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -1.07143px;
  }
  p {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
}

.values-section-content:nth-of-type(1) {
  .img-medium {
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    position: relative;
    .img-circle {
      width: 96px;
      height: 96px;
      background-color: #fcb72b;
      border-radius: 50%;
      position: absolute;
      bottom: 0;
      transform: translate(0, 50%);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      border-radius: 50%;
      max-width: 240px;
    }
  }
}

.values-section-content:nth-of-type(2) {
  .img-medium {
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    position: relative;
    .img-circle {
      width: 96px;
      height: 96px;
      background-color: #fcb72b;
      border-radius: 50%;
      position: absolute;
      bottom: 0;
      transform: translate(0, 50%);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      border-radius: 50%;
      max-width: 240px;
    }
  }
}
.values-section-content:nth-of-type(3) {
  .img-medium {
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    position: relative;
    .img-circle {
      width: 96px;
      height: 96px;
      background-color: #fcb72b;
      border-radius: 50%;
      position: absolute;
      bottom: 0;
      transform: translate(0, 50%);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      border-radius: 50%;
      max-width: 240px;
    }
  }
}
.faq {
  header {
    h2 {
      text-align: center;
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -1.42857px;
    }
  }
}
.faq-section-wrapper {
  margin-inline: 32px;
  margin-block: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .faq-container-1,
  .faq-container-2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .faq-container-box {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-block: 16px;
    text-align: center;
    letter-spacing: -1.07143px;
  }
  h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.803571px;
  }
  .faq-content {
    background-color: #f2f5f9;
    .visible {
      display: flex;
      justify-content: space-between;
      padding: 24px 32px;
      gap: 8px;
      button {
        background-color: transparent;
        outline: 0;
        border: 0;
      }
    }
    .toggle {
      display: none;
    }
    .toggle.active {
      display: block;
      background-color: #f2f5f9;
      padding-inline: 32px;
      padding-bottom: 24px;
    }
  }
}

@media screen and (min-width: 700px) {
  .about {
    height: 200px;
    background-image: url(assets/images/about-hero-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .about-wrapper {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: white;
      overflow: hidden;
      margin-inline: 100px;
      h1 {
        text-align: center;
        margin-bottom: 24px;
        font-size: 56px;
        line-height: 56px;
        text-align: center;
        letter-spacing: -2.5px;
      }
    }
  }
  .about::before {
    content: "";
    background-image: url(/assets/patterns/white-circles.svg);
    background-repeat: no-repeat;
    background-position: 106% 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
  }
  .about-section-1-wrapper {
    margin-inline: 100px;
    margin-block: 120px;
    display: flex;
    flex-direction: column;
    gap: 120px;
  }
  .about-section-1-content {
    .about-section-1-content-text {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    display: flex;
    flex-direction: column;
    gap: 24px;

    h2 {
      text-align: center;
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -2.14px;
    }
    p {
      text-align: center;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      text-align: center;
    }
    .button-container {
      display: flex;
      justify-content: center;
    }
  }
  .about-section-1-content:nth-of-type(1) {
    .img-big {
      margin-bottom: 56px;
      display: flex;
      justify-content: center;
      position: relative;

      img {
        border-radius: 50%;
        max-width: 311px;
      }
    }
    .img-big::before {
      content: "";
      background-image: url(/assets/patterns/left-downward-arrow.svg);
      width: 735px;
      height: 140px;
      right: 0;
      bottom: 0;
      transform: translate(10rem, -2rem);

      position: absolute;
    }
  }
  .about-section-1-content:nth-of-type(2) {
    .img-big {
      margin-bottom: 56px;
      display: flex;
      justify-content: center;
      position: relative;

      img {
        border-radius: 50%;
        max-width: 311px;
      }
    }
    .img-big::before {
      content: "";
      background-image: url(/assets/patterns/right-arrow.svg);
      background-repeat: no-repeat;
      width: 735px;
      height: 140px;
      top: 0;
      left: 0;
      transform: translate(-15rem);
      position: absolute;
    }
  }
  .values-section {
    header {
      h2 {
        text-align: center;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14px;
      }
    }
  }

  // VALUES SECTION

  .values-section-wrapper {
    margin-inline: 155px;
    margin-block: 120px;
    display: flex;
    flex-direction: column;
    gap: 56px;
  }

  .values-section-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .values-section-content-text {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      letter-spacing: -1.07143px;
    }
    p {
      text-align: center;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      text-align: center;
    }
  }

  .values-section-content:nth-of-type(1) {
    .img-medium {
      margin-bottom: 64px;
      display: flex;
      justify-content: center;
      position: relative;
      .img-circle {
        width: 96px;
        height: 96px;
        background-color: #fcb72b;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        transform: translate(0, 50%);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        border-radius: 50%;
        max-width: 240px;
      }
    }
  }

  .values-section-content:nth-of-type(2) {
    .img-medium {
      margin-bottom: 64px;
      display: flex;
      justify-content: center;
      position: relative;
      .img-circle {
        width: 96px;
        height: 96px;
        background-color: #fcb72b;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        transform: translate(0, 50%);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        border-radius: 50%;
        max-width: 240px;
      }
    }
  }
  .values-section-content:nth-of-type(3) {
    .img-medium {
      margin-bottom: 64px;
      display: flex;
      justify-content: center;
      position: relative;
      .img-circle {
        width: 96px;
        height: 96px;
        background-color: #fcb72b;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        transform: translate(0, 50%);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        border-radius: 50%;
        max-width: 240px;
      }
    }
  }
  .faq {
    header {
      h2 {
        text-align: center;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -2.14286px;
      }
    }
  }
  .faq-section-wrapper {
    margin-inline: 40px;
    margin-block: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    h3 {
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      /* identical to box height, or 120% */

      text-align: center;
      letter-spacing: -1.78571px;
    }
    h4 {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      /* identical to box height, or 117% */

      letter-spacing: -1.07143px;
    }
    .faq-content {
      background-color: #f2f5f9;
      .visible {
        display: flex;
        justify-content: space-between;
        padding: 24px 32px;
        gap: 8px;
        button {
          background-color: transparent;
          outline: 0;
          border: 0;
        }
      }
      .toggle {
        display: none;
      }
      .toggle.active {
        display: block;
        background-color: #f2f5f9;
        padding-inline: 32px;
        padding-bottom: 24px;
      }
    }
  }
}
@media screen and (min-width: 1100px) {
  .about {
    background-image: url(/assets/images/about-hero-desktop.jpg);
    .about-wrapper {
      margin-inline: 165px;
    }
  }

  .about-section-1-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 95px;

    .about-section-1-content-text {
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: flex-start;
    }

    h2 {
      text-align: left;
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -2.14286px;
    }
    p {
      text-align: left;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
    }
    .button-container {
      display: flex;
      justify-content: center;
    }
  }
  .about-section-1-content:nth-of-type(1) {
    flex-direction: row-reverse;
    .img-big {
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      position: relative;

      img {
        border-radius: 50%;
        max-width: 445px;
      }
    }
    .img-big::before {
      content: "";
      background-image: url(/assets/patterns/left-downward-arrow.svg);
      width: 735px;
      height: 140px;
      right: 0;
      bottom: 0;
      transform: translate(10rem, -2rem);
      position: absolute;
    }
  }
  .about-section-1-content:nth-of-type(2) {
    .img-big {
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      position: relative;

      img {
        border-radius: 50%;
        max-width: 445px;
      }
    }
    .img-big::before {
      content: "";
      background-image: url(/assets/patterns/right-arrow.svg);
      background-repeat: no-repeat;
      width: 735px;
      height: 140px;
      top: 0;
      left: 0;
      transform: translate(-15rem);
      position: absolute;
    }
  }
  .values-section {
    header {
      h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -2.14286px;
      }
    }
  }

  .values-section-wrapper {
    margin-inline: 165px;
    margin-block: 120px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .values-section-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .values-section-content-text {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      letter-spacing: -1.07143px;
    }
    p {
      text-align: center;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      text-align: center;
    }
  }

  .values-section-content:nth-of-type(1) {
    .img-medium {
      margin-bottom: 64px;
      display: flex;
      justify-content: center;
      position: relative;
      .img-circle {
        width: 96px;
        height: 96px;
        background-color: #fcb72b;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        transform: translate(0, 50%);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        border-radius: 50%;
        max-width: 240px;
      }
    }
  }

  .values-section-content:nth-of-type(2) {
    .img-medium {
      margin-bottom: 64px;
      display: flex;
      justify-content: center;
      position: relative;
      .img-circle {
        width: 96px;
        height: 96px;
        background-color: #fcb72b;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        transform: translate(0, 50%);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        border-radius: 50%;
        max-width: 240px;
      }
    }
  }
  .values-section-content:nth-of-type(3) {
    .img-medium {
      margin-bottom: 64px;
      display: flex;
      justify-content: center;
      position: relative;
      .img-circle {
        width: 96px;
        height: 96px;
        background-color: #fcb72b;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        transform: translate(0, 50%);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        border-radius: 50%;
        max-width: 240px;
      }
    }
  }
  .faq {
    header {
      h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -2.14286px;
      }
    }
  }
  .faq-section-wrapper {
    margin-inline: 165px;
    margin-block: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .faq-container-1,
    .faq-container-2 {
      display: flex;
      flex-direction: row;
      gap: 32px;
      .faq-container-box {
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex-basis: 80%;
      }
    }

    h3 {
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -1.78571px;
    }
    h4 {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -1.07143px;
    }
    .faq-content {
      background-color: #f2f5f9;
      .visible {
        display: flex;
        justify-content: space-between;
        padding: 24px 32px;
        gap: 8px;
        button {
          background-color: transparent;
          outline: 0;
          border: 0;
        }
      }
    }
  }
}
