.careers {
  height: 375px;
  background-image: url(assets/images/careers-location-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .careers-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
    h1 {
      text-align: center;
      margin-bottom: 24px;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      letter-spacing: -1.78571px;
    }
  }
}
.careers-section-1-wrapper {
  margin-inline: 32px;
  margin-block: 120px;
  display: flex;
  flex-direction: column;
  gap: 120px;
}
.careers-section-1-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .img-big {
    display: flex;
    justify-content: center;
    img {
      border-radius: 50%;
    }
  }
  .careers-section-1-content-text {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h2 {
      text-align: center;
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -1.42857px;
    }
    p {
      text-align: center;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      text-align: center;
    }
  }

  h3 {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.42857px;
  }
  p {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
  .button-container {
    display: flex;
    justify-content: center;
  }
}

.box-container-section {
  .box-container-section-wrapper {
    flex-direction: column;
    display: flex;
    gap: 1rem;
    margin-inline: 32px;
    .box-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 36px 32px;
      background-color: #f2f5f9;

      h4 {
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
  }
}
@media screen and (min-width: 700px) {
  .careers {
    height: 200px;
    background-image: url(assets/images/careers-locations-hero-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .careers-wrapper {
      margin-inline: 100px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: white;
      overflow: hidden;
      h1 {
        text-align: left;
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        /* identical to box height, or 100% */

        letter-spacing: -2.5px;
      }
    }
  }
  .careers-section-1-wrapper {
    margin-inline: 32px;
    margin-block: 120px;
    display: flex;
    flex-direction: column;
    gap: 120px;
  }
  .careers-section-1-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    .img-big {
      display: flex;
      justify-content: center;
      img {
        border-radius: 50%;
      }
    }
    .careers-section-1-content-text {
      display: flex;
      flex-direction: column;
      gap: 24px;

      h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        /* or 100% */

        text-align: center;
        letter-spacing: -2.14286px;
      }
      p {
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
      }
    }

    h3 {
      text-align: center;
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -1.42857px;
    }
    p {
      text-align: center;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      text-align: center;
    }
    .button-container {
      display: flex;
      justify-content: center;
    }
  }

  .box-container-section {
    margin-block: 120px;
    .box-container-section-wrapper {
      flex-direction: column;
      display: flex;
      gap: 1rem;
      margin-inline: 32px;
      .box-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 36px 32px;
        background-color: #f2f5f9;

        h4 {
          text-align: left;
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          /* identical to box height, or 117% */

          letter-spacing: -1.07143px;
        }
        p {
          text-align: left;
          font-weight: 400;
          font-size: 15px;
          line-height: 25px;
          /* identical to box height, or 167% */
        }
      }
    }
  }
}
@media screen and (min-width: 1100px) {
  .careers {
    height: 200px;
    background-image: url(assets/images/careers-locations-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .careers-wrapper {
      margin-inline: 165px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: white;
      overflow: hidden;
      h1 {
        text-align: left;
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
      }
    }
  }
  .careers-section-1-wrapper {
    margin-inline: 165px;
    margin-block: 120px;
    display: flex;
    flex-direction: column;
    gap: 120px;
  }
  .careers-section-1-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 24px;
    .img-big {
      display: flex;
      justify-content: center;
      img {
        max-width: 445px;
        border-radius: 50%;
      }
    }
    .careers-section-1-content-text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 24px;

      h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
      }
      p {
        text-align: left;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
      }
    }

    h3 {
      text-align: center;
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -1.42857px;
    }
    p {
      text-align: center;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      text-align: center;
    }
    .button-container {
      display: flex;
      justify-content: center;
    }
  }
  .box-container-section {
    margin-block: 120px;
    .box-container-section-wrapper {
      flex-direction: column;
      display: flex;
      gap: 1rem;
      margin-inline: 165px;
      .box-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 36px 32px;
        background-color: #f2f5f9;

        h4 {
          text-align: left;
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          /* identical to box height, or 117% */

          letter-spacing: -1.07143px;
        }
        p {
          text-align: left;
        }
      }
    }
  }
}
