@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: initial;
  }
}

body {
  font-family: "Space Mono", monospace;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Space Mono", monospace;
}
p {
  font-family: "Lexend Deca", sans-serif;
}
body.active {
  overflow-y: hidden;
  height: 100vh;
}
.hero.active {
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.807);

  .hero-wrapper {
    color: rgba(255, 255, 255, 0.507);
    h1 {
      text-align: center;
      margin-bottom: 24px;
    }
    p {
      text-align: center;
      margin-bottom: 32px;
    }
    button {
      background-color: #fcb62b6c;
    }
  }
}

nav {
  background-color: white;
}
.nav-wrapper {
  display: flex;
  justify-content: center;
  margin: 1.5rem 2rem;
  .burger-button-container {
    .burger-btn {
      width: 30px;
      height: 40px;
      background-color: transparent;
      outline: 0;
      border: 0;
      .burger-bars,
      .burger-bars:after,
      .burger-bars::before {
        position: relative;
        width: 100%;
        height: 3px;
        background-color: #fcb72b;
        border-radius: 50px;
      }
      .burger-bars:after,
      .burger-bars::before {
        content: "";
        position: absolute;
        left: 0;
        transition: transform ease-in-out 220ms;
      }
      .burger-bars:after {
        transform: translateY(-6px);
      }
      .burger-bars::before {
        transform: translateY(6px);
      }
      // Animations
      .burger-bars.active {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
      }
      .burger-bars.active::before {
        transform: rotate(45deg) translate(35px, -35px);
        background-color: #fcb72b;
      }
      .burger-bars.active::after {
        transform: rotate(-45deg) translate(35px, 35px);
        background-color: #fcb72b;
      }
    }
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}

.nav-desktop,
.desktop {
  display: none;
}
.nav-mobile {
  padding-top: 64px;
  padding-bottom: 24px;
  padding-left: 32px;
  position: absolute;
  height: 100%;
  background-color: #333a44;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(-100%);
  transition: 400ms;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    list-style: none;
    text-transform: uppercase;

    li {
      a {
        text-decoration: none;
      }
    }
  }
}
.nav-mobile.active {
  padding-top: 64px;
  padding-bottom: 24px;
  padding-left: 32px;
  position: absolute;
  height: calc(100vh - 84px);
  background-color: #333a44;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(0%);
  z-index: 10;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    list-style: none;
    text-transform: uppercase;
    li {
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
.hero {
  height: 650px;
  background-image: url(assets/images/home-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 32px;
    padding-top: 80px;
    color: white;
    overflow: hidden;
    h1 {
      text-align: center;
      margin-bottom: 24px;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      letter-spacing: -1.78571px;
    }
    p {
      text-align: center;
      margin-bottom: 32px;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      text-align: center;
    }
  }
}
.hero:before {
  content: "";
  background-image: url(/assets/patterns/right-arrow.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 450px;
  height: 160px;
  bottom: 0;
  left: 0;
  transform: translate(-18rem, 0rem);
  overflow: hidden;
}
.button-container {
  button {
    padding: 1rem 3rem;
    background-color: #fcb72b;
    color: white;
    border: 0;
    outline: 0;
  }
}

.section-1-wrapper {
  margin-inline: 32px;
  margin-block: 120px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 48px;
}
.section-1-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .img {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      width: 56px;
      height: 56px;
    }
  }
  h2 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
  }
  p {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
}
.section-2-wrapper {
  margin-inline: 32px;
  margin-block: 120px;
  display: flex;
  flex-direction: column;
  gap: 120px;
}
.section-2-content {
  .section-2-content-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  display: flex;
  flex-direction: column;
  gap: 24px;

  h3 {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.42857px;
  }
  p {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
  .button-container {
    display: flex;
    justify-content: center;
  }
}
.section-2-content:nth-of-type(1) {
  .img-big {
    margin-bottom: 56px;
    display: flex;
    justify-content: center;
    position: relative;

    img {
      border-radius: 50%;
      max-width: 311px;
    }
  }
  .img-big::before {
    content: "";
    background-image: url(/assets/patterns/left-downward-arrow.svg);
    width: 735px;
    height: 140px;
    right: 0;
    bottom: 0;
    transform: translate(28rem);

    position: absolute;
  }
}
.section-2-content:nth-of-type(2) {
  .img-big {
    margin-bottom: 56px;
    display: flex;
    justify-content: center;
    position: relative;

    img {
      border-radius: 50%;
      max-width: 311px;
    }
  }
  .img-big::before {
    content: "";
    background-image: url(/assets/patterns/right-arrow.svg);
    background-repeat: no-repeat;
    width: 735px;
    height: 140px;
    top: 0;
    left: 0;
    transform: translate(-15rem);

    position: absolute;
  }
}
.section-2-content:nth-of-type(3) {
  .img-big {
    margin-bottom: 56px;
    display: flex;
    justify-content: center;
    position: relative;

    img {
      border-radius: 50%;
      max-width: 311px;
    }
  }
  .img-big::before {
    content: "";
    background-image: url(/assets/patterns/left-downward-arrow.svg);
    width: 735px;
    height: 140px;
    right: 0;
    top: 0;
    transform: translate(35rem);
    position: absolute;
  }
}
.section-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #495567;
  height: 50vh;
  text-align: center;
  position: relative;
  color: white;
  overflow: hidden;
  .img-container {
    display: flex;
    gap: 12px;
    margin-top: 40px;
    justify-content: center;
  }
  .section-3-wrapper {
    margin-inline: 32px;
    h3 {
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
      text-align: center;
      letter-spacing: -1.42857px;
    }
  }
}
.section-3:before {
  content: "";
  position: absolute;
  background-image: url(/assets/patterns/semi-circles.svg);
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate(-52%, 60%);
  height: 350px;
  width: 1153px;
}
footer {
  background-color: #333a44;
  .footer-wrapper {
    margin-inline: 32px;
    padding-block: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .footer-nav {
    margin-bottom: 85px;
    ul {
      margin: 0;
      padding: 0;
      text-align: center;
      list-style: none;
      color: white;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      li {
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  .footer-sc {
    ul {
      margin: 0;
      padding: 0;
      text-align: center;
      list-style: none;
      color: white;
      display: flex;
      gap: 1rem;
    }
  }
}

@media screen and (min-width: 700px) {
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 2rem;
    align-items: center;
    .nav-desktop {
      display: flex;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 2rem;
        li {
          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
    .burger-button-container {
      display: none;
    }
    .button-container {
      display: block;
    }
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
  }

  .hero {
    height: 650px;

    background-image: url(assets/images/home-hero-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;
    .hero-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-inline: 100px;
      padding-top: 140px;
      color: white;
      overflow: hidden;
      h1 {
        text-align: center;
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
      }
      p {
        text-align: center;
        margin-bottom: 32px;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
      }
    }
  }
  .hero:before {
    content: "";
    background-image: url(/assets/patterns/right-arrow.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 450px;
    height: 160px;
    bottom: 0;
    left: 0;
    transform: translate(-10rem, -4rem);
    overflow: hidden;
  }
  .hero::after {
    content: url(/assets/patterns/white-circles.svg);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(2rem, -5rem);
  }

  .section-1-wrapper {
    margin-inline: 100px;
    margin-block: 120px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .section-1-wrapper::before {
    content: url(/assets/patterns/line-copy.svg);
    background-color: #e5ecf4;
    rotate: 90deg;
    height: 15px;
    width: 620px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(8rem, 10rem);
    z-index: -1;
  }
  .section-1-content {
    display: flex;
    flex-direction: row;
    gap: 84px;

    .img {
      height: 130px;
      display: flex;
      position: relative;
      align-items: center;
      flex-basis: 96px;
      flex-shrink: 0;

      img {
        width: 96px;
        height: 96px;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 27px;
    }
    h2 {
      text-align: left;
      font-weight: 700;
      font-size: 28px;
      line-height: 28px;
    }
    p {
      text-align: left;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
    }
  }
  .section-2-wrapper {
    margin-inline: 100px;
    margin-block: 120px;
    display: flex;
    flex-direction: column;
    gap: 128px;
  }
  .section-2-content {
    .section-2-content-text {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    display: flex;
    flex-direction: column;
    gap: 24px;

    h3 {
      text-align: center;
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -2.14286px;
    }
    p {
      text-align: center;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
    }
    .button-container {
      display: flex;
      justify-content: center;
    }
  }
  .section-2-content:nth-of-type(1) {
    .img-big {
      margin-bottom: 56px;
      display: flex;
      justify-content: center;
      position: relative;

      img {
        border-radius: 50%;
        max-width: 311px;
      }
    }
    .img-big::before {
      content: "";
      background-image: url(/assets/patterns/left-downward-arrow.svg);
      width: 735px;
      height: 140px;
      right: 0;
      bottom: 0;
      transform: translate(10rem);

      position: absolute;
    }
  }
  .section-2-content:nth-of-type(2) {
    .img-big {
      margin-bottom: 56px;
      display: flex;
      justify-content: center;
      position: relative;

      img {
        border-radius: 50%;
        max-width: 311px;
      }
    }
    .img-big::before {
      content: "";
      background-image: url(/assets/patterns/right-arrow.svg);
      background-repeat: no-repeat;
      width: 735px;
      height: 140px;
      top: 0;
      left: 0;
      transform: translate(-10rem);

      position: absolute;
    }
  }
  .section-2-content:nth-of-type(3) {
    .img-big {
      margin-bottom: 56px;
      display: flex;
      justify-content: center;
      position: relative;

      img {
        border-radius: 50%;
        max-width: 311px;
      }
    }
    .img-big::before {
      content: "";
      background-image: url(/assets/patterns/left-downward-arrow.svg);
      width: 735px;
      height: 140px;
      right: 0;
      top: 0;
      transform: translate(30rem);
      position: absolute;
    }
  }
  .section-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #495567;
    height: 50vh;
    text-align: center;
    position: relative;
    color: white;
    overflow: hidden;
    .img-container {
      display: flex;
      gap: 12px;
      margin-top: 40px;
      justify-content: center;
    }
    .section-3-wrapper {
      margin-inline: 155px;
      h3 {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -2.14286px;
      }
    }
  }
  .section-3:before {
    content: "";
    position: absolute;
    background-image: url(/assets/patterns/semi-circles.svg);
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(-52%, 60%);
    height: 350px;
    width: 1153px;
  }
  footer {
    background-color: #333a44;
    .footer-wrapper {
      margin-inline: 40px;
      padding-block: 32px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
    }
    .footer-nav {
      margin-bottom: 0;
      ul {
        margin: 0;
        padding: 0;
        text-align: center;
        list-style: none;
        color: white;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        li {
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
    .footer-sc {
      ul {
        margin: 0;
        padding: 0;
        text-align: center;
        list-style: none;
        color: white;
        display: flex;
        gap: 1rem;
      }
    }
  }
}
@media screen and (min-width: 1100px) {
  .hero {
    height: 650px;
    background-image: url(assets/images/home-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .nav-wrapper {
    display: flex;
    justify-content: flex-start;
    margin: 2.5rem 10.3125rem;
    align-items: center;
    gap: 48px;
    .nav-desktop {
      display: flex;
      margin-right: auto;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 2rem;
      }
    }
  }

  .hero {
    height: 650px;
    background-image: url(assets/images/home-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;
    z-index: 2;
    .hero-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-inline: 165px;
      padding-top: 153px;
      color: white;
      overflow: hidden;

      h1 {
        max-width: 500px;
        text-align: left;
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
      }
      p {
        max-width: 405px;
        text-align: left;
        margin-bottom: 40px;
        margin-left: calc(260px - 165px);

        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
      }
      .button-container {
        padding-inline: calc(260px - 165px);
      }
    }
  }
  .hero:before {
    transform: translateY(0%);
    content: "";
    background-image: url(/assets/patterns/line.svg),
      url(/assets/patterns/right-arrow.svg);
    background-repeat: no-repeat;
    background-position: 0rem 22rem, 45rem 22rem;
    width: 100%;
    height: 650px;
  }
  .hero::after {
    transform: translateY(0%);
    content: "";
    background-image: url(/assets/patterns/white-circles.svg);
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    background-position: 75.325rem 27rem;
    margin: 0;
    padding: 0;
  }

  .section-1-wrapper {
    margin-inline: 100px;
    margin-block: 120px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
  }
  .section-1-wrapper::before {
    content: "";
    background-image: url(/assets/patterns/line-copy.svg);
    background-color: #e5ecf4;
    rotate: 0deg;
    height: 15px;
    width: 66%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(0rem, 5rem);
    z-index: -1;
  }
  .section-1-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-basis: 350px;

    .img {
      height: 96px;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: flex-start;
      flex-basis: 96px;
      flex-shrink: 0;

      img {
        width: 96px;
        height: 96px;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 27px;
    }
    h2 {
      text-align: left;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -1px;
    }
    p {
      text-align: left;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
    }
  }
  .section-1 {
    margin-block: 100px;
  }
  .section-2 {
    margin-block: 200px;
  }
  .section-2-wrapper {
    margin-inline: 165px;
    margin-block: 120px;
    display: flex;
    flex-direction: column;
    gap: 128px;
  }
  .section-2-content {
    display: flex;
    align-items: center;
    .section-2-content-text {
      display: flex;
      flex-direction: column;

      gap: 24px;
    }
    display: flex;
    flex-direction: row;
    gap: 80px;

    h3 {
      text-align: left;
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -2.14286px;
    }
    p {
      text-align: left;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
    }
    .button-container {
      display: flex;
      justify-content: flex-start;
    }
  }
  .section-2-content:nth-of-type(1) {
    flex-direction: row-reverse;
    .img-big {
      margin-bottom: 56px;
      display: flex;
      justify-content: center;
      position: relative;

      img {
        border-radius: 50%;
        max-width: 445px;
        max-height: 445px;
      }
    }
    .img-big::before {
      content: "";
      background-image: url(/assets/patterns/left-downward-arrow.svg);
      width: 635px;
      height: 140px;
      right: 0;
      bottom: 0;
      transform: translate(10rem);

      position: absolute;
    }
  }
  .section-2-content:nth-of-type(2) {
    .img-big {
      margin-bottom: 56px;
      display: flex;
      justify-content: center;
      position: relative;

      img {
        border-radius: 50%;
        max-width: 445px;
        max-height: 445px;
      }
    }
    .img-big::before {
      content: "";
      background-image: url(/assets/patterns/right-arrow.svg);
      background-repeat: no-repeat;
      width: 450px;
      height: 140px;
      top: 0;
      left: 0;
      transform: translate(-20rem);

      position: absolute;
    }
  }
  .section-2-content:nth-of-type(3) {
    flex-direction: row-reverse;
    .img-big {
      margin-bottom: 56px;
      display: flex;
      justify-content: center;
      position: relative;

      img {
        border-radius: 50%;
        max-width: 445px;
        max-height: 445px;
      }
    }
    .img-big::before {
      content: "";
      background-image: url(/assets/patterns/left-downward-arrow.svg);
      width: 735px;
      height: 140px;
      right: 0;
      top: 0;
      transform: translate(30rem);
      position: absolute;
    }
  }
  .section-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #495567;
    height: 50vh;
    text-align: center;
    position: relative;
    color: white;
    overflow: hidden;
    .img-container {
      display: flex;
      gap: 12px;
      margin-top: 40px;
      justify-content: center;
    }
    .section-3-wrapper {
      margin-inline: 155px;
      display: flex;
      align-items: center;
      gap: 80px;

      h3 {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        text-align: left;
        letter-spacing: -2.14286px;
      }
    }
  }
  .section-3:before {
    content: "";
    position: absolute;
    background-image: url(/assets/patterns/semi-circles.svg);
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(-52%, 60%);
    height: 350px;
    width: 1153px;
  }
  footer {
    background-color: #333a44;
    .footer-wrapper {
      margin-inline: 165px;
      padding-block: 32px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
    }
    .footer-nav {
      margin-bottom: 0;
      ul {
        margin: 0;
        padding: 0;
        text-align: center;
        list-style: none;
        color: white;
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }
    }
    .footer-sc {
      ul {
        margin: 0;
        padding: 0;
        text-align: center;
        list-style: none;
        color: white;
        display: flex;
        gap: 1rem;
      }
    }
  }
}
